<div class="d-flex align-items-center justify-content-center my-5">
  <%= image_tag 'logo.png', class:'logo-homepage' %>
</div>
<div>
  <h3 class= "title">Search For an Item</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <%= simple_form_for :items, url: items_path, method: :get do |f| %>
        <%= f.input :where, placeholder: 'location' %>
        <%= f.input :what, placeholder: 'guitar' %>
        <div class="d-flex align-items-center justify-content-center">
          <%= f.submit 'Search', class:'button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
