<h1>Great news!</h1>

<h4>We found <%= @items.count %> items for you</h4>

<ul>
<% @items.each do |item| %>
<li><%= link_to item.title, item_path(item) %></li>
<li><%= item.description%><%= item.price%></li>
<% end %>
</ul>

<%= link_to "Back", items_path %>

