<h1>Great news!</h1>

<h4>We found <%= @items.count %> from your search</h4>

<div class="content">
  <div class="cards">
    <% @items.each do |item| %>
      <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
        <%= link_to item.title, item_path(item) %>
        <%= item.description%><%= item.price%>
      </div>
    <% end %>
  </div>
  <%= image_tag "mapbox.png", id: "map" %>
</div>

<%= link_to "Back", items_path %>

