
<div class="container">
  <h1>Great news!</h1>
  <h4>We found <%= @items.count %> items for you</h4>
</div>


<div class="content">
  <div class="cards">
    <% @items.each do |item| %>
    <% photo_url = item.photos.any? ? item.photos.first.service_url : "https://kitt.lewagon.com/placeholder/cities/random" %>
      <div class="card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= photo_url %>')">
        <%= link_to item.title, item_path(item) %>
        <%#= item.description%><%#= item.price%>
      </div>
    <% end %>
  </div>
  <%= image_tag "mapbox.png", id: "map" %>
</div>

<%= link_to "Back", items_path %>

