
 <div class="container">

  <div class="header">
    <h2>List an item </h2> <%= link_to "back", root_path %>
  </div>

  <%= form_for @item do |f| %>
    <div class ="form-group">
      <%= f.label :title %>
      <%= f.text_field(:title, placeholder: 'Title of item', class: 'form-control') %>
    </div>
    <div class ="form-group">
      <%= f.label :description  %>
      <%= f.text_field(:description, placeholder: 'description of item', class: 'form-control') %>
    </div>
    <div class ="form-group">
      <%= f.label :price %>
      <%= f.number_field(:price, placeholder: 'price', class: 'form-control form-control-lg') %>
    </div>
    <%= f.submit%>

    <% end %>



  </div>






